external_url '{{ ansible_hostname }}'

gitlab_rails['ldap_enabled'] = true
gitlab_rails['ldap_servers'] = YAML.load <<-EOS
  main:
    label: 'LDAP'
    host: '{{ LDAP_SERVER }}'
    port: 389
    uid: 'sAMAccountName'
    method: 'plain'
    bind_dn: '{{ LDAP_BIND_USER }}'
    password: '{{ LDAP_BIND_PASS }}'
    active_directory: true
    allow_username_or_email_login: true
    block_auto_created_users: false
    base: '{{ LDAP_BASE }}'
    user_filter: '{{ USER_FILTER }}'
    timeout: 10
EOS


